* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
li {
  list-style: none;
}
h1 {
  font-size: 60px;
  color: #272727;
}
h2 {
  font-size: 30px;
  color: #272727;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
p {
  color: rgba(39, 39, 39, 0.6);
  margin: 30px 0;
}
input {
  border: none;
  outline: none;
}
.main-color {
  color: #e55473;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.btn {
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background: #e55473;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
}
.btn:hover {
  background: red;
}

#header-part {
  background: rgba(229, 84, 115, 0.1);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text {
  font-size: 50px;
}

.menu-item {
  display: flex;
  align-items: center;
}

.menu-item li {
  border-right: 1px solid #95a5a6;
}
.menu-item li:last-child {
  border-right: 0;
}
.menu-item a {
  font-size: 20px;
  margin: 0 20px;
  color: #2c3e50;
  transition: all 0.3s;
}

.menu-item a:hover {
  color: #e55473;
}

/* Banner Part */
.banner-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.banner-content {
  width: 50%;
}

.banner-img img {
  width: 505px;
}
/* Feature part */
.feature-heading {
  text-align: center;
  margin-top: 30px;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feature-item {
  text-align: center;
}
.feature-item a {
  font-size: 20px;
  text-decoration: underline;
  color: #272727;
  margin-top: 25px;
  display: inline-block;
}
.feature-img1 {
  padding: 100px 50px 0 0;
  background: rgba(167, 33, 98, 0.15);
  border-radius: 50% 50% 0 0;
}
.feature-img2 {
  padding: 82px 9px 0 0;
  background: rgba(5, 151, 160, 0.15);

  border-radius: 50% 50% 0 0;
}
.feature-img3 {
  padding: 90px 50px 0 0;
  background: rgba(167, 33, 98, 0.15);
  border-radius: 50% 50% 0 0;
}
.feature-img1 img {
  width: 70%;
  margin: 0 auto;
}
.feature-img2 img {
  width: 90%;
  margin: 0 auto;
}
.feature-img3 img {
  width: 70%;
  margin: 0 auto;
}

/* Services Part */
.services-part {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 100px 0;
}

.services-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 85px 60px;
}

.services-item img {
  width: 50px;
}
.services-item p {
  margin: 0;
  font-size: 20px;
  color: black;
}
/* Hot Deals part  */
#hot-deals {
  background: rgba(229, 84, 115, 0.05);
  padding: 100px 0;
}

.hot-deals-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hot-deals-content {
  text-align: center;
}

.hot-deals-img img {
  width: 300px;
}

/* Instagram part */
#instagram {
  margin: 200px 0;
  text-align: center;
}

.instagram-image-container {
  display: flex;
  gap: 25px;
}

.image-item {
  overflow: hidden;
}

.image-item img {
  transition: all 0.3s;
  cursor: pointer;
}

.image-item img:hover {
  transform: scale(1.2);
  overflow: hidden;
}

/* Latest News Part */
.latest-news-part {
  background-image: url(images/Rectangle\ 9.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 120px 0;
}

.latest-news-part p {
  margin: 0;
}

.subscribe-field {
  margin-top: 50px;
}
.subscribe-field input {
  width: 50%;
  padding: 17px 15px;
  border-radius: 10px;
}

/* Counter Part */
.counters {
  padding: 60px 130px;
  margin: 0px auto;
  box-shadow: 0 1px 25px -7px #3d3d3d;
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

.counters-box {
  margin: 0 auto;
  width: 70%;
}

.counters-box a {
  text-decoration: none;
  font-size: 20px;
  color: #e74c3c;
}

.counters-box p {
  margin: 0;
}
